In [81]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [82]:
data = pd.read_csv('movie_bd_v5.csv')         
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1051,tt0431021,14000000,85446075,The Possession,Jeffrey Dean Morgan|Natasha Calis|Madison Dave...,Ole Bornedal,Fear The Demon That Doesn't Fear God,A young girl buys an antique box at a yard sal...,92,Horror|Thriller,Ghost House Pictures|North Box Productions,8/30/2012,5.8,2012
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002
1828,tt0164052,95000000,190213455,Hollow Man,Elisabeth Shue|Kevin Bacon|Josh Brolin|Kim Dic...,Paul Verhoeven,What would you do if you knew you couldn't be ...,Cocky researcher Sebastian Caine is working on...,112,Action|Science Fiction|Thriller,Columbia Pictures Corporation|Global Entertain...,8/4/2000,5.3,2000
1453,tt0396171,50000000,132180323,Perfume: The Story of a Murderer,Ben Whishaw|Simon Chandler|David Calder|Richar...,Tom Tykwer,Based on the best-selling novel,"Jean-Baptiste Grenouille, born in the stench o...",147,Crime|Fantasy|Drama,Davis-Films|Nouvelles Ã‰ditions de Films (NEF)...,9/13/2006,7.0,2006
1602,tt0366551,9000000,23936908,Harold & Kumar Go to White Castle,John Cho|Kal Penn|Paula GarcÃ©s|Neil Patrick H...,Danny Leiner,Fast Food. High Times.,"Sometimes, it takes a strange night to put eve...",88,Comedy|Adventure,New Line Cinema,5/30/2004,6.4,2004

In [83]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [84]:
#предобработка
answers = {}                                      # создадим словарь для ответов
data['profit']=data['revenue']-data['budget']     # вычисляем прибыль,создаем колонку"profit" и заносим в нее результаты

data_1sum=data.copy()                             #создаем датафрейм 'data_1sum' с данными исходного датафрейма 
data_1sum.director=data_1sum.director.str.split('|')   # разделяем список режиссеров по "|"
data_1sum=data_1sum.explode('director')                # для каждого режиссера создаем отдельную строку в датафрейме

action_df=data_1sum.copy()                             # создаем датафрейм с разделенными по строкам режиссерами и жанрами
action_df.genres=action_df.genres.str.split('|')         
action_df=action_df.explode('genres')

action2_df=data.copy()                                 # создаем датафрейм (из основного датафрейма) с разделенными жанрами
action2_df.genres=action2_df.genres.str.split('|')
action2_df=action2_df.explode('genres')

data_2sum=data.copy()                                  # создаем датафрейм с разделенными по строкам актерами
data_2sum.cast=data_2sum.cast.str.split('|')
data_2sum=data_2sum.explode('cast') 

data_3sum=action_df.copy()                             # создаем датафрейм с разделенными по строкам режиссерами,жанрами и актерами
data_3sum.cast=data_3sum.cast.str.split('|')
data_3sum=data_3sum.explode('cast')

data_4sum=data.copy()                                  # создаем датафрейм с разделенными по строкам кинокомпаниям
data_4sum.production_companies=data_4sum.production_companies.str.split('|')
data_4sum=data_4sum.explode('production_companies') 

data_5sum=data.copy()                                  # создаем датафрейм с новой колонкой "month"
data_5sum['release_date']=pd.to_datetime(data_5sum['release_date'])      # переводим время в формат Pandas
data_5sum['month'] = data_5sum['release_date'].dt.month # выделяем из датаы месяцы и сохраняем их в колонке 'month'

# 1. У какого фильма из списка самый большой бюджет?

In [85]:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

In [86]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [87]:
data.groupby([data.original_title])[['runtime']].max().sort_values(['runtime'],ascending=False)

                                               runtime
original_title
Gods and Generals                                  214
The Lord of the Rings: The Return of the King      201
Grindhouse                                         191
King Kong                                          187
Pearl Harbor                                       183
...                                                ...
Home on the Range                                   76
Valiant                                             76
The Jungle Book 2                                   72
Return to Never Land                                72
Winnie the Pooh                                     63

[1887 rows x 1 columns]

Вариант 2

In [88]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

In [89]:
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [90]:
data.groupby([data.original_title])[['runtime']].min().sort_values(['runtime'],ascending=True)

                                               runtime
original_title
Winnie the Pooh                                     63
Return to Never Land                                72
The Jungle Book 2                                   72
Home on the Range                                   76
Valiant                                             76
...                                                ...
Pearl Harbor                                       183
King Kong                                          187
Grindhouse                                         191
The Lord of the Rings: The Return of the King      201
Gods and Generals                                  214

[1887 rows x 1 columns]

Вариант 2

In [91]:
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [92]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [93]:
s_1=data.runtime.mean()
display(s_1)

109.6585494970884

In [94]:
answers['4'] = '109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [95]:
s_2=data.runtime.median()
display(s_2)

107.0

In [96]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?

In [97]:
data[data.profit==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [98]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [99]:
data[data.profit==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [100]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше    бюджета?

In [101]:
data[data['revenue']>data['budget']].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

Вариант 2

In [102]:
data[data['profit']>0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [103]:
answers['8']='1478'

# 9.Какой фильм оказался самым кассовым в 2008 году?

In [104]:
d_2 =data[data.release_year==2008]
d_2[d_2.revenue==d_2.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [105]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [106]:
data_m=data[(data['release_year']>2011) & (data['release_year']<=2014)]
data_m[data_m.profit==data_m.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [107]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [108]:
data_genres=action2_df['genres'].value_counts()
display(data_genres[0:1:])

Drama    782
Name: genres, dtype: int64

In [109]:
answers['11'] = 'Drama (782)'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [110]:
profit_1 =action2_df[action2_df.profit>0]
prod_1=profit_1['genres'].value_counts()
display(prod_1[0:1:])

Drama    560
Name: genres, dtype: int64

In [111]:
answers['12'] = 'Drama (560)'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [112]:
grouped_df = data_1sum.groupby(['director']).sum()
grouped_df = data_1sum.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
print(grouped_df.head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [113]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [114]:
action_df2=action_df[(action_df.genres=='Action')]
action_df3=action_df2.groupby(['director'])[['genres']].count().sort_values(['genres'],ascending=False)
display(action_df3[0:1:])

                  genres
director
Robert Rodriguez       9

In [115]:
answers['14'] = 'Robert Rodriguez (9)'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [116]:
cast_1 =data_2sum[data_2sum.release_year==2012]
prod=cast_1.groupby(['cast'])['revenue'].max().sort_values(ascending=False)
display(prod.head(6))

cast
Scarlett Johansson    1519557910
Chris Evans           1519557910
Chris Hemsworth       1519557910
Robert Downey Jr.     1519557910
Mark Ruffalo          1519557910
Judi Dench            1108561013
Name: revenue, dtype: int64

In [117]:
answers['15'] = 'Chris Hemsworth, Chris Evans, Chris Hemsworth, Robert Downey Jr., Mark Ruffalo '

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [118]:
cast_2=data_2sum[data_2sum.budget > data_2sum.budget.mean()]
cast_2=cast_2.groupby(['cast'])[['original_title']].count().sort_values(['original_title'],ascending=False)
display(cast_2[0:1:])

            original_title
cast
Matt Damon              18

In [119]:
answers['16'] = 'Matt Damon (18)'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [120]:
small_df =data_3sum[data_3sum.cast=='Nicolas Cage']
n = small_df['genres'].value_counts().head(1)
display(n)

Action    19
Name: genres, dtype: int64

In [121]:
answers['17'] = 'Action (19)'

# 18. Самый убыточный фильм от Paramount Pictures

In [122]:
small_df=data_4sum[data_4sum.production_companies=='Paramount Pictures']
small_df[small_df.profit==small_df.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

In [123]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [124]:
grouped_df = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
print(grouped_df.head(1))

release_year
2015    25449202382
Name: revenue, dtype: int64

In [125]:
answers['19'] = '2015 (25449202382)'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [126]:
small_df=data_4sum[data_4sum.production_companies.str.match("Warner Bros", na=False)]
small_df.groupby(['release_year']).agg({'profit':'sum'}).sort_values('profit', ascending=False).head(1)

                  profit
release_year
2014          2292949646

In [127]:
answers['20'] = '2014 (2292949646)'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [128]:
month = data_5sum['month'].value_counts()
display(month.head(1))

9    227
Name: month, dtype: int64

In [129]:
answers['21'] = '9 (227)'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [130]:
x=0                                                # создаем переменную счетчик
for month in data_5sum.month:                      # перебираем номера месяцев в каждой строке датафрейма  
    if month == 6 or month == 7 or month == 8:     # проверяем на совпадение с номерами летних месяцев
        x+=1                                       # при совпадении увеличиваем счетчик на 1
    else:
        continue                                   # при не совпадении пропускаем
print(x)

450

In [131]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [132]:
data_5sum.director=data_5sum.director.str.split('|')
data_5sum=data_5sum.explode('director')                              # разделяем по строкам режиссеров 
winter_month=data_5sum[(data_5sum.month.isin(['1','2','12']))]       # делаем выборку по месяцам 
product_time=winter_month.groupby(['director'])['month'].count().sort_values(ascending=False).head(5) #сортируем по количеству строк
display(product_time)

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Adam Shankman        4
Name: month, dtype: int64

In [133]:
answers['23'] = 'Peter Jackson (7)'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [134]:
data['title_length'] = data['original_title'].map(lambda x: len(x))        #создаем столбец с длиной названия
companies = data['production_companies'].str.split('|').explode().unique()  # получаем список уникальных названий компаний
sum_gen = pd.Series(dtype='float64', index=companies)                      #создаем серию для хранения средних значений
for comp in companies:                  # для всего датафрейма для каждой компании и всех названий фильмов созданных компанией 
                                        # вычисляем среднее значение
    sum_gen[comp] = data['title_length'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False).head()    # сортируем по убыванию

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

In [135]:
answers['24'] = 'Four By Two Productions (83.0)'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [136]:
data_4sum['overview_length'] = data_4sum['overview'].str.count(' ') + 1     # подсчитываем количество слов = пробелы +1
overview_1=data_4sum.groupby(['production_companies'])['overview_length'].mean().sort_values(ascending=False).head(5)
display(overview_1)

production_companies
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
Heineken Branded Entertainment      161.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
Name: overview_length, dtype: float64

In [137]:
answers['25'] = 'Midnight Picture Show (175.0)'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [138]:
procent = len(data)//100              # находим количество фильмов в 1 проценте от всего количества фильмов
reitings=data.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False).head(procent)
display(reitings)

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Inside Out                                       8.0
Interstellar                                     8.0
Room                                             8.0
The Grand Budapest Hotel                         7.9
The Pianist                                      7.9
Guardians of the Galaxy                          7.9
Memento                                          7.9
The Wolf of Wall Street                          7.9
Inception                                        7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
The Lord of the Rings: The Return of the King    7.9
Prisoners                                        7.8
The Fault in Our Stars                           7.8
Eternal Sunshine of the Spotless Mind            7.8
The Prestige                                     7.8
Name: vote_average, dtype: float64

In [139]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [140]:
pairs = Counter()
for i in range(0,len(data)):                 #перебираем комбинации актеров в каждом фильме из всего датафрейма
    artists = data.cast[i].split('|')
    for j in list(combinations(artists, 2)):   # выявляем пары
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] +=1                       # подсчитываем пары
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [141]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

# Submission

In [142]:
answers       # ответы к вопросам

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama (782)',
 '12': 'Drama (560)',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez (9)',
 '15': 'Chris Hemsworth, Chris Evans, Chris Hemsworth, Robert Downey Jr., Mark Ruffalo ',
 '16': 'Matt Damon (18)',
 '17': 'Action (19)',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015 (25449202382)',
 '20': '2014 (2292949646)',
 '21': '9 (227)',
 '22': '450',
 '23': 'Peter Jackson (7)',
 '24': 'Four By Two Productions (83.0)',
 '25': 'Midnight Picture Show (175.0)',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [143]:
len(answers)    # Проверка количества ответов

27